# Binaries
bin/
dist/
/cryptospect-cli
cryptospect-cli-*
*.test

# Dependency directories
vendor/

# Test coverage
coverage.out
cover.out
coverage.html
*.cover

# Logs
*.log

# Local cache
.cache/
.gocache/
.gomodcache/
.go/
.tempcache/
.tempgomod/
.cryptospect/
.localbin/

# Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# goreleaser
dist-*/

# Temporary files
tmp/
*.tmp